* {
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
  font-family: "Courier New", Courier, monospace;
  line-height: 1.4;
  margin: 0 auto;
  padding: 20px;
  background: rgb(163,163,163);
  background: -moz-linear-gradient(90deg, rgba(163,163,163,1) 0%, rgba(196,196,196,1) 50%, rgba(239,239,239,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(163,163,163,1) 0%, rgba(196,196,196,1) 50%, rgba(239,239,239,1) 100%);
  background: linear-gradient(90deg, rgba(163,163,163,1) 0%, rgba(196,196,196,1) 50%, rgba(239,239,239,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a3a3a3",endColorstr="#efefef",GradientType=1);
}

header {
  text-align: center;
}

h1 {
  color: rgb(114, 45, 114);
  margin: 0 0 10px;
  padding: 0;
}

input {
  width: 600px;
  padding: 10px;
  border: 1px solid purple;
}

#ricercaQuantita {
  width: 100px;
}

input:focus {
  background-color: rgba(128, 0, 128, 0.278);
}

button {
margin-top: 10px;
  width: 150px;
  padding: 10px;
  background-color: rgb(55, 158, 248);
  color: white;
}

button:hover {
  background-color: white;
  color: rgb(55, 158, 248);
}

input,
button {
  border-radius: 10px;
}

main{
  margin: 0 auto;
  padding: 2%;
  text-align: center;
}

table {
  margin: 0 auto;
  width: 80%;
}

th {
  background-color: rgba(55, 158, 248, 0.345);
}

tr,
td {
  border: 2px solid rgb(129, 75, 129);
}

td {
  color: rgb(32, 111, 181);
}

tr:hover {
  background-color: rgba(129, 75, 129, 0.477);
}

td:hover {
  color: rgb(16, 55, 90);
  font-weight: bold;
}

#bottone2{
  width: 50%;
  font-size: 1.2rem;
}

img{
  max-width: 100%;
  display: block;
  margin: 4% auto;
}